import the json into python

In [2]:
import pandas as pd
import json

with open('FixedSpeedCameraCitations.json',encoding="utf8") as f:
    data = json.load(f)

the top-level json is a dictionary with a 'meta' and 'data' key

In [3]:
data.keys()

dict_keys(['meta', 'data'])

taking a glance at the data just to make sure it got imported properly.  Data looks ok, but the columns titles are missing

In [4]:
df = pd.DataFrame(data['data'])
print(df.head(10))

        0                                     1        2           3       4   \
0  1173420  9E151957-BCE8-4D59-A1A4-23A6A0EB816C  1173420  1527609404  890398
1  1173721  9E299A84-295C-4B3A-B779-16EAE83A0C32  1173721  1527609404  890398
2  1173366  9EDE6D54-7A83-4A30-A71E-3377C5CA895A  1173366  1527609404  890398
3  1173724  9F107704-10EE-4310-A0B7-9919818379EB  1173724  1527609404  890398
4  1173376  9F70C28D-D7DA-4AA6-8F3F-AAC2226FDE66  1173376  1527609404  890398
5  1173101  9F9F0A02-FC57-4360-AD96-9A961646D731  1173101  1527609404  890398
6  1173269  9FEB6CFD-27EE-4754-8DB0-949290DC003C  1173269  1527609404  890398
7  1173099  A0077059-CE69-433A-A535-B711981903E3  1173099  1527609404  890398
8  1173608  A0186369-4ACC-4A81-AE8F-9DFF9D479769  1173608  1527609404  890398
9  1173027  A07422CC-A2E0-4FE1-AD2D-D401960FC7B4  1173027  1527609404  890398

           5       6     7         8        9   \
0  1527661777  697390  None  82691651  69943CF
1  1527661777  697390  None  82694655  3DE2314
2  1527661777  697390  None  82691115  5BA2678
3  1527661777  697390  None  82694689  5BT8544
4  1527661777  697390  None  82691214  1BV0537
5  1527661777  697390  None  82688467  5CZ9237
6  1527661777  697390  None  82690141   MCG966
7  1527661777  697390  None  82688442  9DE2544
8  1527661777  697390  None  82693525  7DA8010
9  1527661777  697390  None  82687725  4DA3646

                         ...                             19    20    21    22  \
0                        ...                           0.00  None  0.00  0.00
1                        ...                          40.00  None  0.00  0.00
2                        ...                           0.00  None  0.00  0.00
3                        ...                           0.00  None  0.00  0.00
4                        ...                           0.00  None  0.00  0.00
5                        ...                           0.00  None  0.00  0.00
6                        ...                           0.00  None  0.00  0.00
7                        ...                          40.00  None  0.00  0.00
8                        ...                          40.00  None  0.00  0.00
9                        ...                          40.00  None  0.00  0.00

   23                   24    25    26    27  \
0 NaN  2018-04-26T04:02:00  None  None  None
1 NaN  2018-04-26T04:02:00  None  None  None
2 NaN  2018-04-26T04:02:00  None  None  None
3 NaN  2018-04-26T04:02:00  None  None  None
4 NaN  2018-04-26T04:02:00  None  None  None
5 NaN  2018-04-26T04:02:00  None  None  None
6 NaN  2018-04-26T04:02:00  None  None  None
7 NaN  2018-04-26T04:02:00  None  None  None
8 NaN  2018-04-26T04:02:00  None  None  None
9 NaN  2018-04-26T04:02:00  None  None  None

                                                  28
0  [{"address":"1300 BLK EAST NORTHERN PKWY","cit...
1  [{"address":"1300 BLK WEST COLD SPRING LN E","...
2  [{"address":"5000 BLK ROLAND AVE","city":"NB B...
3  [{"address":"2400 BLK ERDMAN AVE","city":"NB B...
4  [{"address":"1300 BLK WEST COLD SPRING LN W","...
5  [{"address":"3400 BLKLOCH RAVEN BLVD","city":"...
6  [{"address":"6100 BLK OLD HARFORD RD","city":"...
7  [{"address":"4300 BLK ERDMAN AVE","city":"NB B...
8  [{"address":"5600 BLK MORAVIA RD","city":"NB B...
9  [{"address":"4300 BLK ERDMAN AVE","city":"NB B...

[10 rows x 29 columns]

Count the number of rows in the data

In [5]:
len(data['data'])

2312506

After some investigation, found the column information

In [6]:
len(data['meta']['view']['columns'])

29

double check that the number of rows in the data matches the number of columns

In [7]:
len(data['data'][0])

29

get the column names

In [8]:
columnNames = [slot['name'] for slot in data['meta']['view']['columns']]

assign the columns names to the data

In [9]:
df.columns = columnNames

take a look at the data again to confirm column names

In [10]:
df.head(2)

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,Citation,Tag,...,Balance,PenaltyDate,OpenFine,OpenPenalty,NoticeDate,ImportDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
0,1173420,9E151957-BCE8-4D59-A1A4-23A6A0EB816C,1173420,1527609404,890398,1527661777,697390,None,82691651,69943CF,...,0.00,None,0.00,0.00,NaN,2018-04-26T04:02:00,None,None,None,"[{""address"":""1300 BLK EAST NORTHERN PKWY"",""cit..."
1,1173721,9E299A84-295C-4B3A-B779-16EAE83A0C32,1173721,1527609404,890398,1527661777,697390,None,82694655,3DE2314,...,40.00,None,0.00,0.00,NaN,2018-04-26T04:02:00,None,None,None,"[{""address"":""1300 BLK WEST COLD SPRING LN E"",""..."

filter the rows down to the fixed speed camera data, and preserve the selected columns

In [11]:
dfview = df.loc[df['Description'] == 'Fixed Speed Camera',['Address','ViolCode','Description','ViolFine','ViolDate','Location']]
dfview.head(3)

,Address,ViolCode,Description,ViolFine,ViolDate,Location
0,1300 BLK EAST NORTHERN PKWY WB,032,Fixed Speed Camera,40.00,2018-04-12T17:36:00,"[{""address"":""1300 BLK EAST NORTHERN PKWY"",""cit..."
1,1300 BLK WEST COLD SPRING LN E,032,Fixed Speed Camera,40.00,2018-04-12T19:13:00,"[{""address"":""1300 BLK WEST COLD SPRING LN E"",""..."
2,5000 BLK ROLAND AVE NB,032,Fixed Speed Camera,40.00,2018-04-12T17:14:00,"[{""address"":""5000 BLK ROLAND AVE"",""city"":""NB B..."

count the number of rows.  it is about a fifth of the total data

In [14]:
print(len(dfview))
print(len(dfview)/double(len(df)))

475337

NameError: name 'double' is not defined